/* Estilos generales */
body {
    background-color: #546FA4;
}

header {
    width: 100%;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #546FA4;
    color: #FFE2A1;
}

h1 {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 55px;
    margin: 0; /* Elimina el margen por defecto del encabezado */
}

.imgt {
    width: 90px;
    height: auto; /* Ajusta la altura automáticamente */
    padding: 20px;
}

h2 {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 45px;
    color: #546FA4;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0; /* Elimina el margen por defecto del encabezado */
}

h3 {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 20px;
    color: #546FA4;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0; /* Elimina el margen por defecto del encabezado */
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #EBC97C;
    padding: 20px; /* Ajusta el espaciado interno */
}

.formularioeleccion{
    align-items: center;
    justify-content: center;
    background-color: #EBC97C;
    padding: 20px; /* Ajusta el espaciado interno */
    margin: 0 auto; 

}

p {
    color: #546FA4;
    margin: 10px;
    text-align: justify;
}

.imgi {
    padding: 20px;
    width: 75%;
}

label {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 35px;
    color: #546FA4;
    text-align: center;
}

.ep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7CA1EB;
    padding: 30px;
    gap: 20px;
}

.boton {
        font-family: 'Pokemon Solid', sans-serif;
        align-items: center;
        color: #FFE2A1;
        background-color: #546FA4;
        width: 20%; /* Ajusta el ancho al 50% del contenedor */
        height: 35px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        margin: 0 auto; 
}

.tabla-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.tabla {
    width: 100%;
    background-color: #EBC97C;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
}

.tabla th {
    background-color: #3B4CCA;
    color: white;
    font-weight: bold;
}


footer {
    background-color:#FFE2A1;
    text-align: center;
    color:#546FA4;
    padding: 20px;
}

.graficas {
    background-color: #546FA4;
    color:#EBC97C;
}
.graficasrow {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #FFE2A1;
}

.card {
    border-radius: 5px;
    border: 1px solid #FFE2A1;
    color: #3B4CCA;
    font-size: 35px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color:#EBC97C;
    flex: 1;
    max-width: calc(50% - 20px);
    box-sizing: border-box; 
}